body {
    margin: 0;
    min-width: 250px;
    font-family: Arial, sans-serif; /* Utilizzo di un font diverso da quello di default */
  }
  
  * {
    box-sizing: border-box;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #ddd;
  }
  
  ul li:last-child {
    border-bottom: none;
  }
  
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  ul li:hover {
    background: #ddd;
  }
  
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    font-size: 20px;
    font-weight: bold;
    color: #f4363f; /* Modifica del colore della X per rimuovere un'attività */
  }
  
  .close:hover {
    background-color: #f4363f;
    color: white;
  }
  
  .header {
    background-color: #36aef4;
    padding: 30px 40px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  .header input[type="text"] {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    flex: 1;
  }
  
  .header input[type="date"] {
    margin: 0 0 0 10px; /* Aggiunta di uno spazio vuoto a sinistra dell'input di data */
    border: none;
    border-radius: 0;
    width: 25%;
    padding: 10px;
    font-size: 16px;
  }
  
  .header .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .header .addBtn:hover {
    background-color: #bbb;
  }
  